@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Josefin+Sans:wght@100&family=Saira:wght@100&family=Space+Mono&display=swap');
:root {
  --color-pink-prim: #f95a61;
  --color-dasborad: #e4f4fb;
  --sucess-color: #93c54b;
  --color-prtfolio: #29abe0;
  --hover-dasb: #ff5e5b;
  --color-dasbo-desk: #29abe0;
  --primary-template: #120e26;
  /* --alert-color : #D9534F;
  --boring-color : #797770;
  --dark-color : #3E3F3A;
  --light-color : #EFEFEF;
  --warning-color : #F47C3C;
  --light-blue: rgba(41, 171, 224, 0.08);*/

  --font-Dongle: 'Dongle';
  --font-Saira: 'Saira', sans-serif;
  --font-SpaceM: 'Space Mono', monospace;

  --principal-font-size: 3.6rem;
  --secondarey-font-size: 1.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

html {
  font-size: 62.5%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  text-overflow: ellipsis;
  font-size: 17px;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
